@font-face {
  font-family: 'Noto_Sans_JP';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Source_Code_Pro';
  src: url("../fonts/Source_Code_Pro/SourceCodePro-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Noto_Sans_JP", sans-serif;
  color: #333;
  letter-spacing: .4;
}

a {
  color: #333;
  text-decoration: none;
}

/* top section */
.all {
  width: 100vw;
  overflow-x: hidden;
}

.all .top_section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .all .top_section {
    display: block;
    height: auto;
  }
}

.all .top_section .left {
  width: calc(50vw - 400px);
  padding: 200px;
}

@media screen and (max-width: 1000px) {
  .all .top_section .left {
    width: calc(100vw - 40px);
    padding: 20px;
  }
}

@media screen and (max-width: 450px) {
  .all .top_section .left {
    height: 100vh;
    position: relative;
  }
  .all .top_section .left .left_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

.all .top_section .left .logo {
  width: 100px;
}

.all .top_section .left .subtitle {
  font-size: 20px;
  color: #adadad;
}

@media screen and (max-width: 450px) {
  .all .top_section .left .subtitle {
    font-size: 16px;
  }
}

.all .top_section .left h1 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 60px;
  font-family: "Source_Code_Pro", sans-serif;
}

@media screen and (max-width: 450px) {
  .all .top_section .left h1 {
    line-height: 100%;
    margin-bottom: 100px;
  }
}

.all .top_section .left .disc {
  width: 500px;
  font-size: 18px;
  margin-bottom: 80px;
  max-width: 90vw;
}

@media screen and (max-width: 450px) {
  .all .top_section .left .disc {
    font-size: 13px;
  }
}

.all .top_section .left .join_button {
  width: 200px;
  background: #2af6ea;
  background: linear-gradient(137deg, #2af6ea 0%, #2aadf6 100%);
  padding: 2px;
}

@media screen and (max-width: 450px) {
  .all .top_section .left .join_button {
    margin: auto;
  }
}

.all .top_section .left .join_button .join_button_inner {
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px;
}

.all .top_section .left .join_button .join_button_inner img {
  width: 15px;
  height: 20px;
  margin-right: 20px;
}

.all .top_section .left .join_button .join_button_inner p {
  font-size: 14px;
  line-height: 14px;
}

.all .top_section .right {
  width: 50vw;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .all .top_section .right {
    width: 100vw;
  }
}

.all .top_section .right img {
  margin: 2.5vh 0;
  width: 50vw;
  height: 95vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right center;
     object-position: right center;
}

@media screen and (max-width: 1000px) {
  .all .top_section .right img {
    width: 95vw;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .all .top_section .right img {
    height: 160vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.all .coming_soon_secsion {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.all .coming_soon_secsion .coming_soon_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.all .coming_soon_secsion .coming_soon_inner .coming_soon {
  color: transparent;
  -webkit-text-stroke: 1.2px #333;
  text-stroke: 1.2px #333;
  font-size: calc(4.375rem + ((1vw - 4.3px) * 0.6623));
}

.all .coming_soon_secsion .coming_soon_inner .join_button {
  margin: auto;
  width: 300px;
  max-width: 90vw;
  background: #2af6ea;
  background: linear-gradient(137deg, #2af6ea 0%, #2aadf6 100%);
  padding: 10px 5px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.all .coming_soon_secsion .coming_soon_inner .join_button:hover {
  -webkit-filter: none;
          filter: none;
}

.all .coming_soon_secsion .coming_soon_inner .join_button p {
  color: white;
  font-size: 20px;
  margin: 0;
}

.all .coming_soon_secsion .coming_soon_inner .contact {
  margin-top: 80px;
  font-size: 14px;
  color: #adadad;
}

.all .coming_soon_secsion .coming_soon_inner .mail {
  font-size: 16px;
}

.all .dics_secsion {
  width: 100vw;
}

.all .dics_secsion .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px 0;
}

@media screen and (max-width: 1000px) {
  .all .dics_secsion .row {
    display: block;
  }
}

.all .dics_secsion .row .innners {
  width: 50vw;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .all .dics_secsion .row .innners {
    width: 90vw;
    min-height: 58vw;
    text-align: center;
  }
}

.all .dics_secsion .row .innners .text_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .all .dics_secsion .row .innners .text_div {
    position: relative;
    margin: 100px 20px;
  }
}

.all .dics_secsion .row .innners .text_div .title {
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .all .dics_secsion .row .innners .text_div .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .all .dics_secsion .row .innners .text_div .title {
    margin-top: 200px;
  }
}

.all .dics_secsion .row .innners .text_div .content {
  font-size: 18px;
  font-weight: 300;
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .all .dics_secsion .row .innners .text_div .content {
    max-width: 100%;
    font-size: 13px;
  }
}

.all .dics_secsion .row .innners img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .all .dics_secsion .row .innners img.second {
    margin-left: 10vw;
  }
}

.all .go_top {
  text-align: center;
  margin: 100px 0;
}

.all .go_top div img {
  width: 30px;
  height: 30px;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.all .go_top div img:hover {
  -webkit-filter: none;
          filter: none;
}

.all .tools_secsion {
  width: 100vw;
  background: #333;
  padding: 150px 0;
  text-align: center;
}

.all .tools_secsion .tools_secsion_title {
  color: white;
  font-size: 32px;
  margin-bottom: 120px;
}

@media screen and (max-width: 450px) {
  .all .tools_secsion .tools_secsion_title {
    margin-top: 0px;
    font-size: 26px;
    margin-bottom: 60px;
  }
}

.all .tools_secsion .tool_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media screen and (max-width: 1000px) {
  .all .tools_secsion .tool_all {
    display: block;
  }
}

.all .tools_secsion .tool_all .tools {
  margin: 20px;
  width: 350px;
  max-width: calc(100vw - 60px);
  background: #2af6ea;
  background: linear-gradient(137deg, #2af6ea 0%, #2aadf6 100%);
  padding: 3px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .all .tools_secsion .tool_all .tools {
    display: inline-block;
  }
}

.all .tools_secsion .tool_all .tools .tools_inner {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
}

.all .tools_secsion .tool_all .tools .tools_inner .top {
  text-align: center;
  padding: 0 20px 10px;
}

.all .tools_secsion .tool_all .tools .tools_inner .top img {
  width: 100%;
}

.all .tools_secsion .tool_all .tools .tools_inner .bottom {
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 0 0 7px 7px;
  text-align: left;
}

.all .tools_secsion .tool_all .tools .tools_inner .bottom .title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

@media screen and (max-width: 450px) {
  .all .tools_secsion .tool_all .tools .tools_inner .bottom .title {
    font-size: 18px;
  }
}

.all .tools_secsion .tool_all .tools .tools_inner .bottom .content {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .all .tools_secsion .tool_all .tools .tools_inner .bottom .content {
    font-size: 13px;
  }
}

.all .awards_secsion {
  width: 100vw;
  text-align: center;
  padding: 250px 0;
}

.all .awards_secsion .awards_title {
  font-size: 40px;
  margin-bottom: 100px;
}

@media screen and (max-width: 450px) {
  .all .awards_secsion .awards_title {
    font-size: 24px;
  }
}

.all .awards_secsion .go_video {
  margin: auto;
  width: 350px;
  max-width: 80vw;
  background: #2af6ea;
  background: linear-gradient(137deg, #2af6ea 0%, #2aadf6 100%);
  padding: 10px 5px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.all .awards_secsion .go_video:hover {
  -webkit-filter: none;
          filter: none;
}

.all .awards_secsion .go_video p {
  color: white;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .all .awards_secsion .go_video p {
    font-size: 16px;
  }
}

.all .copyright_secsion {
  width: 100vw;
  text-align: center;
}

.all .copyright_secsion p {
  font-size: 16px;
  color: #adadad;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .all .copyright_secsion p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */